body{
    background-color: #0D0D0D;
}
.item{
    overflow: hidden;
}
.item:hover .contant{
    top: 0;
}
.contant{

   background-color: rgba(218, 235, 244, .8);
   position: absolute;
   top: 100%;
   left: 0;
   bottom: 0;
   right: 0;
  padding-top: 30%;
  transition: top 1s;
 
}


#outbox{
    position: fixed;
    top: 0;
   background-color: #fff;
    bottom: 0;
    width: 18%;
    z-index: 55555;
}


#sidebar{
    width: 80%;
    height: 100%;

    float: left;
    overflow:  hidden;
    position: relative;

}
#icon{
  
    float: left;
  margin: 8px;
  cursor: pointer;


}
.clear{
    clear: both;
}
#sidebar a{
    text-decoration: none;
    display: block;
    color:#fff;
    font-size: 22px;
    margin: 10px;
    cursor: pointer;
}
#links{
width: 100%;
height: 100%;
position: absolute;
top: 100%;
left: 0;
}
.alert{
    display: none;
}
.form-group{
    margin: 1rem;
}
.form-control{
    border-top: none;
    border-left: none;
    border-right: none;
}
.lyear{
 
    position: absolute;
    top: 50%;
    left:0px;
    bottom:0px;
    right:0px;
    z-index: 1111;
   
}
.item{
    cursor: pointer;
}